<div class="container">
  <div class="home-banner">
    <h1>Save any kind of movies</h1>
    <p>
      <span data-controller="typed-js"></span>
    </p>
  </div>

  <p><%= link_to "Add a new list", new_list_path, class: "btn btn-primary"%></p>
  <p><em>You have created <%= @lists.length%> lists so far:</em></p>

  <div class="row">
   <% @lists.each do |list| %>
      <div class="col-lg-4 mb-4">
        <div class="card" style="width:100%">
          <p class="<%= list.name %>"></p>
          <div class="card-body">
            <p><strong><%= link_to list.name, list_path(list.id) %></strong></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
