.home-banner {
  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/HyK36gOdmjm0pmnp3/videoblocks-traveling-over-red-cinema-seat-row-with-screen-in-background-movie-theater-smooth-gimbal-shot_rblq6ehm-h_thumbnail-1080_01.png');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin-bottom: 10px;
}
